<html>
<head>
    <title>azido group</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="public/css/style.css" type="text/css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="/">azido group</a></h1>
            <h3>technology for professional web entertainers</h3>
            <nav>
            <!--    <a href="/about">about</a> | <a href="/contact">contact</a> -->
            </nav>
        </div> <!-- /.header -->
        <div class="content">
