<!DOCTYPE html>
<html>
    <head>
        <title>azido group, llc</title>
        <!-- css -->
        <link rel="stylesheet" href="/public/css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="/public/css/css.css" type="text/css" />

        <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>

        <!-- js -->
        <script src="/public/vendor/jquery/dist/jquery.min.js" ></script>
        <script src="/public/vendor/typed.js/dist/typed.min.js" ></script>
        <script src="/public/js/init.js" ></script>

        <meta name="google-site-verification" content="JREIPCWbN4JMy1lrL7JERZf7n5CFWHMPzVCubvpzOa4" />

    </head>
    <body>
        <header>
            <div class="container clearfix">
                <h1 id="logo">
                    <a href="#azido">Azido Group</a>
                </h1>
                <ul>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#technology">Technology</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <!-- <li>
                        <a href="#jobs">Jobs</a>
                    </li> -->
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </header>
        <div id="container">
            <div id="azido" class="hero">
                <video autoplay loop>
                    <source src="/public/assets/videos/azido-typing-hero.mp4" type="video/mp4" />
                    Your browser doesn't support HTML5 video. Here's a <a href="/public/assets/videos/azido-typing-hero.mp4">link</a> to download the video.
                </video>
                <h1>artisan code, made with <span>love</span></h1>
            </div>
            <div class="wrapper">
                <div id="content">
                    <!-- <div class="slogan-wrapper">
                        <div class="slogan-container right">
                            <img src="https://placehold.it/450x400" />
                            <h3>Buzzword</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div class="slogan-container left">
                            <img src="https://placehold.it/450x400" />
                            <h3>Slang</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div> -->

                    <div id="services" class="content-contianer">
                        <h2>Our Services</h2>

                        <div class="temp-service">
                            <h3>Development</h3>
                            <div class="terminal-wrapper">
                                <pre class="terminal"></pre>
                            </div>
                        </div>

                        <div class="temp-service">
                            <h3>Research and Architecture</h3>
                            <img src="public/img/clock.jpg" width="400" height="200"/>
                        </div>

                        <div class="temp-service">
                            <h3>Training and Consulting</h3>
                            <img src="public/img/ppl_typing.jpg" width="400" height="200" />
                        </div>

                        <div class="temp-service">
                            <h3>Software Quality Auditing</h3>
                            <img src="public/img/html.jpg" width="400" height="200" />
                        </div>

                    </div>

                    <div id="technology" class="content-contianer">
                        <h2>Technology we work with</h2>
                        <img src="public/img/logos/nodejs.png" class="tech-logo" height="60"/>
                        <img src="public/img/logos/angular.png" class="tech-logo" height="60"/>
                        <img src="public/img/logos/mongodb.jpeg" class="tech-logo" height="70"/>
                        <img src="public/img/logos/mysql.png" class="tech-logo" height="85"/>
                    </div>

                    <div id="about" class="content-contianer">
                        <h2>About Azido Group</h2>
                            <!-- <div class="blurb" >
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat.
                                </p>
                            </div> -->
                            <div class="profile">
                                <h3> alison </h3>
                                <div class="headshot-wrapper">
                                    <img class="headshot" src="public/img/a.jpg" width="150" />
                                </div>

                                <p class="bio">
                                    bot pupil, app designing thrill seeker, corporate communications heretic. occupy all of the things. pr whisperer, ux soothsayer, meme geek. cat lady.
                                </p>
                            </div>
                            <div class="profile">
                                <h3> zeph </h3>
                                <div class="headshot-wrapper">
                                    <img class="headshot" src="public/img/z.jpg" width="150" />
                                </div>
                                <p class="bio">
                                    millenial sherpa, medium believer, email journeyman. rip biggie. gaming hacktivist, chief motivational virtuoso, necromancer. free boosie.
                                </p>
                            </div>
                            <div style="clear: both"></div>
                    </div>
                    <!-- <div id="jobs" class="content-contianer">
                        <h2>Come work with us!</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <h3>We're currently looking for...</h3>
                        <dl>
                            <dt>Full Stack JavaScript Engineers</dt>
                            <dd>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </dd>
                            <dt>Network Operations Engineers</dt>
                            <dd>
                                Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                            </dd>
                            <dt>System Security Specialists</dt>
                            <dd>
                                Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae.
                            </dd>
                        </dl>
                    </div> -->
                    <div id="contact" class="content-contianer contact">
                        <div class="contact-wrapper">
                            <h2>Contact us for free. No credit card required.</h2>
                            <form class="contact-form" method="POST" action="/contact-us">
                                <div class="field">
                                    <label>name</label>
                                    <input type="text" placeholder="annie oakley" />
                                </div>
                                <div class="field">
                                    <label>email</label>
                                    <input type="email" placeholder="annie.oakley@example.com" />
                                </div>
                                <div class="field">
                                    <label>phone</label>
                                    <input type="phone" placeholder="888.451.4079" />
                                </div>
                                <div class="field">
                                    <label class="textarea-label">message</label>
                                    <textarea placeholder="hello, friend..."></textarea>
                                </div>
                                <div class="field">
                                    <label></label>
                                    <input type="submit" value="Contact Us" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>
                    &copy; 2015, Azido Group
                </p>
                <p>
                    made with  <span><a href="https://tinyurl.com/psu925e">&#9829;</a></span> &nbsp;in oakland, ca
                </p>
            </footer>
        </div>
    </body>
</html>
