<!DOCTYPE html>
<html>
    <head>
        <title>azido group, llc</title>
        <!-- css -->
        <link rel="stylesheet" href="/public/css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="/public/css/css.css" type="text/css" />
        <link href='//fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

        <!-- js -->
        <script src="/public/vendor/jquery/dist/jquery.min.js" ></script>
        <script src="/public/js/init.js" ></script>

        <meta name="google-site-verification" content="JREIPCWbN4JMy1lrL7JERZf7n5CFWHMPzVCubvpzOa4" />

    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="container clearfix">
                    <h1 id="logo">Azido Group</h1>
                    <nav>
                        <a href="">Lorem</a>
                        <a href="">Ipsum</a>
                        <a href="">Dolor</a>
                    </nav>
                </div>
            </header>
            <div id="content">
                <div id="service">
                    <h2>Our Services</h2>
                    <h3>Development</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                    </p>
                    <h3>Research and Architecture</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                    </p>
                    <h3>Training and Consulting</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                    </p>
                    <h3>Software Quality Auditing</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                    </p>
                </div>

                <div id="technology">
                    <h2>Technology we work with</h2>
                    <h3>NodeJs, jQuery, Angular, MongoDB, MySQL</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                    </p>
                </div>

                <div id="about">
                    <h2>About Azido Group</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta justo in tellus porttitor non placerat dui pulvinar. Aliquam erat volutpat. Morbi ullamcorper libero sit amet tortor porta iaculis. Duis sit amet diam dolor. Mauris bibendum pharetra justo, sed ornare arcu scelerisque vitae. Integer molestie dignissim lacinia. Etiam sagittis consectetur iaculis. Pellentesque fringilla nulla at tortor dictum lobortis.
                        </p>
                </div>
                <div id="contact" class="contact">
                    <h2>Contact us for free. No credit card required.</h2>
                    <form class="contact-form">
                        <div class="field">
                            <label>name</label>
                            <input type="text" placeholder="annie oakley" />
                        </div>
                        <div class="field">
                            <label>email</label>
                            <input type="email" placeholder="annie.oakley@example.com" />
                        </div>
                        <div class="field">
                            <label>phone</label>
                            <input type="phone" placeholder="888.451.4079" />
                        </div>
                        <div class="field">
                            <label class="textarea-label">message</label>
                            <textarea placeholder="hello, friend"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
