.hero {
	width: 100%;
	position: relative;
}

.hero video {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 100%;
}

.hero h1 {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 60px;
}

.hero h1 span {
	color: red;
}
